body {
    background-color: #92bfed; /* Color de fondo gris claro */
    color: rgb(37, 11, 102);
    text-align: center;
    font-size: 17px;
  }

  header .title{
  background-color: rgb(204, 167, 238);
  }

  h1 {
    color: azure;
    font-size: 50px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  footer a{
    text-decoration: line-through;
    color: azure;
    font-size:17px;
  }

  img{
    width: 50%;
    height: 50%;
    border-radius: 50px;
  }

  footer{
    background-color:  #639ad2;
  }